<div class="container d-flex justify-content-center">
  <div class="card py-4" *ngIf="inputRec">
    <div class="card-body">
      <div class="d-flex justify-content-between m-0 p-0">
        <div>
          <mat-slide-toggle color="primary" checked="false" [(ngModel)]="isChecked2">Открыть</mat-slide-toggle>
          <mat-slide-toggle color="primary" checked="false" [(ngModel)]="isChecked">Редактирование: {{isChecked}}</mat-slide-toggle>
        </div>

        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input class="form-control" disabled type="text" [(ngModel)]="inputRec.id" placeholder="ID"
            ></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Название"
                   [(ngModel)]="inputRec.title" > </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Для ресурса"
                     [(ngModel)]="inputRec.forResource"> </div>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Логин"
                     [(ngModel)]="inputRec.eLogin"> </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Пароль"
                     [(ngModel)]="inputRec.ePw"  > </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Секрет"
                     [(ngModel)]="inputRec.eSecret"> </div>
          </div>
        </div>
      </div>


      <button class="btn mt-3 btn-primary btn-block confirm-button">ОК</button>
    </div>
  </div>
</div>



