<div class="cover-container">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>

        <mat-divider></mat-divider>

        <div class="d-grid gap-2 mt-5">
          <button *ngIf="!isAuth" class="btn btn-lg btn-warning" type="button" routerLink="login">Вход</button>
          <button *ngIf="!isAuth" class="btn btn-lg btn-warning" type="button" routerLink="register">Регистрация</button>
          <button class="btn btn-lg btn-warning" type="button" routerLink="home">Главная</button>
          <button  class="btn btn-lg btn-danger" type="button" (click)="onLogout()">Выход</button>
        </div>


      </mat-drawer>

      <div class="example-sidenav-content">
        <mat-toolbar>
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon">
            <mat-icon>share</mat-icon>
          </button>
          <span *ngIf="isAuth">{{sessia?.userName}}</span>
        </mat-toolbar>


        <main role="main" class="cover-container">
          <router-outlet></router-outlet>
        </main>
      </div>

    </mat-drawer-container>

</div>







