* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.example-container {
  height: 100%;
}

.cover-container{
  height: 100%;
}


.example-sidenav-content {
  align-items: start;
  justify-content: start;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}
