
<mat-toolbar>
  <span>My Application</span>
  <span>Second Line</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar>

  <button mat-raised-button 
  [ngClass]="{'btn btn-danger': details}" 
  (click)="details=!details">
  {{details? "Close" : "Opoen"}}
  </button>


<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div class="m-3" *ngIf="details">
    
    <app-product 
    *ngFor="let prod of products"
    [product]="prod"/>
    
  </div>    
</div>


<router-outlet></router-outlet>
