<div >
  <div class="card text-dark mb-3 border-0 rounded-4" style="background: linear-gradient(to top left, #00ffe7, #fcec52);">

    <div class="card-header">

            <nav class="navbar navbar-light justify-content-between">
                <p *ngIf="selectedSafeName == ''" class="navbar-brand">Сейфы</p>
                <p *ngIf="selectedSafeName != ''" class="navbar-brand">{{selectedSafeName}}</p>

                <button (click)="addSafe()" mat-mini-fab color="white" >
                    <mat-icon fontIcon="add"></mat-icon>
                </button>
            </nav>

    </div>


    <div class="card-body">

          <div (click)="onSafeSelected(safe)" *ngFor="let safe of safes">
            <app-safe-item [safe]="safe" [selectedSafeId]="selectedSafeId"></app-safe-item>
          </div>

        </div>
    </div>


</div>


