<div class="db">

  <div class="p-3">

    <div class="row">

      <div class="col">

      </div>

      <div class="col">

      </div>

    </div>
    <div class="row">


      <div class="col-3 shadow-lg bg-dark p-3 m-1">

        <h2 class="text-white m-2">Выбирите сейфы</h2>
        <form>
          <mat-form-field class="example-chip-list" >
            <mat-chip-grid #chipGrid >
              @for (safe of safes; track safe) {
              <mat-chip-row (removed)="remove(safe)">
              {{safe.title}}
              <button matChipRemove [attr.aria-label]="'удалить ' + safe">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
              }
            </mat-chip-grid>
            <input placeholder="Поиск сейфа" #fruitInput [formControl]="fruitCtrl"
                   [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              @for (s of filteredSafes | async; track s) {
              <mat-option [value]="s">{{s.title}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>


      <div class="col-3">
        <app-user-selector (sendSelectedUsersEvent)="receiveSelectedUsers($event)" ></app-user-selector>
      </div>


      <div class="col px-0 mx-0">
        <app-permision-selector (sendSelectedPerEvent)="receiveSelectedPermissions($event)"></app-permision-selector>
      </div>


    </div>
  </div>



</div>
